# Machine Learning Project

This project is using KNN algorithm to determine what property is most ideal. 
It uses Rolling Sales data from Nov. 2018 to Oct. 2019 as provided by New York City Open Data.

In [12]:
#install all relevant packages

import pandas as pd
import numpy as np
import sklearn as skl
import xlrd
import matplotlib.pyplot

In [19]:
#take the data of the 5 excel files that I have
dfM = pd.read_excel(r'~/Documents/GitHub/MIS637-Final/rollingsales_manhattan.xls')
dfX = pd.read_excel(r'~/Documents/GitHub/MIS637-Final/rollingsales_bronx.xls')
dfK = pd.read_excel(r'~/Documents/GitHub/MIS637-Final/rollingsales_brooklyn.xls')
dfQ = pd.read_excel(r'~/Documents/GitHub/MIS637-Final/rollingsales_queens.xls')
dfR = pd.read_excel(r'~/Documents/GitHub/MIS637-Final/rollingsales_statenisland.xls')

In [22]:
#combine the datasets and create a new one called df2019
df2019 = pd.concat([dfM, dfX, dfK, dfQ, dfR],sort=False)
df2019.reset_index(drop=True)
print(df2019)

,BOROUGH,BUILDING CLASS CATEGORY,TAX CLASS AT PRESENT,RESIDENTIAL UNITS,TOTAL UNITS,LAND SQUARE FEET,GROSS SQUARE FEET,YEAR BUILT,TAX CLASS AT TIME OF SALE,SALE PRICE,BUILDING CLASS AT PRESENT,BUILDING CLASS AT TIME OF SALE
0,1,01 ONE FAMILY DWELLINGS,1,1,2,2090,3680,1940.0,1,3200000,NaN,NaN
1,1,01 ONE FAMILY DWELLINGS,1,1,1,987,2183,1860.0,1,0,NaN,NaN
2,1,01 ONE FAMILY DWELLINGS,1,1,1,1883,5200,1900.0,1,6100000,NaN,NaN
3,1,02 TWO FAMILY DWELLINGS,1,2,2,1510,4520,1900.0,1,0,NaN,NaN
4,1,02 TWO FAMILY DWELLINGS,1,2,2,1510,4520,1900.0,1,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
7563,5,02 TWO FAMILY DWELLINGS,1,2,2,8846,1710,2001.0,1,637500,NaN,NaN
7564,5,05 TAX CLASS 1 VACANT LAND,1,0,0,6979,0,2018.0,1,599701,NaN,NaN
7565,5,05 TAX CLASS 1 VACANT LAND,1,0,0,5016,0,2018.0,1,896060,NaN,NaN
7566,5,06 TAX CLASS 1 - OTHER,1,0,0,7920,0,2011.0,1,0,NaN,NaN
7567,5,05 TAX CLASS 1 VACANT LAND,1B,0,0,2640,0,0.0,1,26000,NaN,NaN